*{
    background-color: aqua;
}

.head1::first-letter{
    font-size: 80px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

p::first-line{
    text-decoration: underline;
    text-decoration-style: dashed;
    color: rgb(10, 69, 31);
}

.head1::selection{
    background: linear-gradient(45deg, #0fd046, #ee0979);
    /* background-color: rgb(186, 48, 126); */
    color: aliceblue;
}

input::placeholder{
    color: red;
}
.name::before{
    content: "Mohit ";
    color: red;

}

.name::after{
    content: " Yadav";
    color: blue;
}