.container{
    background-color: rgb(128, 125, 131);
    /*margin-top: 40px;*/
    margin: 40px;
    /*border: 15px double rgb(0, 251, 255);*/
    /*border-radius: 40px;*/
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: -3px -4px 5px 7px yellowgreen;
}
